@import "fonts"

// project specific CSS goes here
////////////////////////////////
 //Variables//
////////////////////////////////
// Alert colors
$white: #fff
$mint-green: #d6e9c6
$black: #000
$pink: #f2dede
$dark-pink: #eed3d7
$red: #b94a48

////////////////////////////////
    //Alerts//
////////////////////////////////
// bootstrap alert CSS, translated to the django-standard levels of
// debug, info, success, warning, error

.alert-debug
  background-color: $white
  border-color: $mint-green
  color: $black

.alert-error
  background-color: $pink
  border-color: $dark-pink
  color: $red

.hidden
  display: none


////////////////////////////////
    //Buttons//
////////////////////////////////

.btn-md
  background-color: transparent
  border: none
  width: 125px
  height: 45px
  color: #BCBCBC
  font-family: 'poppins'
  font-style: normal
  font-weight: 500
  font-size: 1rem
  &:hover
    color: darken(#BCBCBC, 15%)
    transition: all .3s ease-in-out
  &.btn-bd
    border: 1px solid #D7D7D7
    border-radius: 10px

a.btn-md
  padding: 0.7rem 2rem
  text-decoration: none!important

////////////////////////////////
    //Main//
////////////////////////////////

body
  color: white
  margin: 0 auto
  padding: 0 80px
  position: relative
  min-height: 100vh
  max-width: 1600px
  overflow-y: auto
  overflow-x: hidden
  background-color: #1F1D2B
  &::before
    content: ""
    position: absolute
    width: 123px
    height: 123px
    left: 50%
    top: 138px
    filter: blur(90px)
    background-color: #FB37FF
  &::after
    content: ""
    position: absolute
    width: 123px
    height: 123px
    left: 80%
    top: 550px
    background-color: #18B2DE
    filter: blur(80px)


////////////////////////////////
    //Header//
////////////////////////////////

.header
  display: flex
  align-items: center
  justify-content: space-between
  padding: 20px 0
  width: 100%
  .hamburger
    display: none
    color: #D7D7D7
    background-color: #1F1D2B
    border: none
    margin-right: 10px
  &__logo
    height: 100%
    background: linear-gradient(93.51deg, #9B51E0 2.84%, #3081ED 99.18%)
    font-family: 'poppins'
    font-style: normal
    font-weight: 700
    font-size: 32px
    -webkit-background-clip: text
    -webkit-text-fill-color: transparent
  &__navwrap
    .navlink
      font-family: 'poppins'
      font-style: normal
      font-weight: 500
      font-size: 1rem
      color: #BCBCBC
      &:not(:last-child)
        margin-right: 2rem
      &.active
        background: linear-gradient(93.51deg, #9B51E0 2.84%, #3081ED 99.18%)
        border-bottom: 1.5px solid #9B51E0
        -webkit-background-clip: text
        -webkit-text-fill-color: transparent

// Media
@import "media"
