{% load static i18n %}<!DOCTYPE html>
{% get_current_language as LANGUAGE_CODE %}
<html lang="{{ LANGUAGE_CODE }}">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>{% block title %}GameBots{% endblock title %}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">

    <link rel="icon" href="{% static 'images/favicons/favicon.ico' %}">

    {% block css %}
    <!-- Your stuff: Third-party CSS libraries go here -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    <!-- This file stores project-specific CSS -->
    <link href="{% static 'css/project.min.css' %}" rel="stylesheet">
    {% endblock %}
    <!-- Le javascript
    ================================================== -->
    {# Placed at the top of the document so pages load faster with defer #}
    {% block javascript %}
      <!-- Vendor dependencies bundled as one file-->
      <script defer src="{% static 'js/vendors.min.js' %}"></script>

      <!-- place project specific Javascript in this file -->
      <script defer src="{% static 'js/project.min.js' %}"></script>

    {% endblock javascript %}

  </head>

  <body>

    <header class="header container">
      <a class="header__logo" href="{% url 'bots:bot-list' %}">GAMEBOTS</a>
      <button class="hamburger">
          <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-menu">
            <path d="M3 12h18M3 6h18M3 18h18"/>
          </svg>
        </button>
      <div class="header__navwrap">
        {% with url_name=request.resolver_match.view_name %}
          {% for bot in bots_qs %}
            <a
              class="navlink {% if url_name == 'bots:bot-detail' %} active{% endif %}"
              href="{{ bot.get_absolute_url }}">{{ bot.title }}</a>
          {% endfor %}
        {% endwith %}
      </div>
      <div class="header__auth">
        {% if request.user.is_authenticated %}
          {# URL provided by django-allauth/account/urls.py #}
          <a class="btn-lg btn-bd rad-10" href="{% url 'users:detail' request.user.username  %}">
            <!-- {% translate "My Profile" %} -->
            My Profile
          </a>
          {# URL provided by django-allauth/account/urls.py #}
          <a class="btn-lg " href="{% url 'account_logout' %}">
            <!-- {% translate "Sign Out" %} -->
            Sign Out
          </a>
        {% else %}
          {% if ACCOUNT_ALLOW_REGISTRATION %}
          <a id="sign-up-link" class="btn-lg btn-bd rad-10" href="{% url 'account_signup' %}">
            <!-- {% translate "Sign Up" %} -->
            Sign Up
          </a>
        {% endif %}
          {# URL provided by django-allauth/account/urls.py #}
          <a id="log-in-link" class="btn-lg" href="{% url 'account_login' %}">
            <!-- {% translate "Sign In" %} -->
            Sign In
          </a>
        {% endif %}
      </div>
    </header>

    <main>

      {% if messages %}
        {% for message in messages %}
          <div class="alert alert-dismissible {% if message.tags %}alert-{{ message.tags }}{% endif %}">
            {{ message }}
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
          </div>
        {% endfor %}
      {% endif %}

      {% block video %}{% endblock %}

      {% block content %}{% endblock %}

    </main>

    <footer class="footer container">

      <div class="footer__top">
        <span>
          .
        </span>
        <div class="nav">
          <div class="navlink">
            <h5>Bots</h5>
            {% for bot in bots_qs %}
              <a class="" href="{{ bot.get_absolute_url }}">{{ bot.title }}</a>
            {% endfor %}
          </div>
          <div class="navlink">
            <h5>Pages</h5>
            <a>About Us</a>
            <a>Services</a>
          </div>
          <div class="navlink">
            <h5>Contact</h5>
            <a>Facebook</a>
            <a>Instagram</a>
            <a>Twitter</a>
            <a>Email</a>
          </div>
        </div>
      </div>
      <div class="footer__bottom">
        <p class="mb-0">Copyright {% now "Y" %} Gamebots</p>
      </div>
    </footer>
    {% block modal %}{% endblock modal %}

    {% block inline_javascript %}
    {% comment %}
    Script tags with only code, no src (defer by default). To run
    with a "defer" so that you run inline code:
    <script>
      window.addEventListener('DOMContentLoaded', () => {/* Run whatever you want */});
    </script>
    {% endcomment %}
    {% endblock inline_javascript %}
  </body>
</html>
